.blog-container {
    background-color: yellow;
    padding: 10px;
    margin: 25px;
    border-radius: 15px;
}

.container-header {
    display: flex;
    padding-bottom: 5px;
    
}

.header-user {
    border-style: solid;
    border-width: thin;
    margin-right: 1px;
    padding: 5px;
}

.header-date {
    border-style: solid;
    border-width: thin;
    margin-left: auto;
    padding: 5px;
}

.container-body {

}

.body-blog {
    border-style: solid;
    border-width: thin;
    padding: 5px;
}